/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------END OF CLEARFIX ----------*/

body {
	background-color: #eff2f4;
	background-position: center;
	font-family: 'Scope One', serif;
	color: #888;
}

/*---------HEADER AREA---------*/
header {
	position: absolute;
	width: 100%;
	height: 121px;
	margin-left: 0px;
	margin-top: 123px;
	background-image: url(images/body_bg.jpg);
	border-bottom: solid 10px #f04e3e;
}

#logo {
	background-color: black;
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 1;
}

#logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2.title {
	font-family: 'Quicksand', sans-serif;
	font-size: 400%;
	position: relative;
	-webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
	margin-top: 27px;
}

#navigation {
	background-color: #f04e3e;
	height: 55px;
	width: 100%;
	margin-left: auto;
	margin-right:auto;
	padding: 0;
	position:absolute;
	top: 80px;
}

#navigation ul {
	padding-left: 10px;
	text-align: center;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
}

#navigation li {
	display: inline;
	float: left;
}

#navigation li a {
	display: block;
	text-align: center;
	padding: 19px 17px;
	text-decoration: none;
	font-family: 'Scope One', serif;
	color: #eff2f4;
}

#navigation li a:hover {
	margin-top: 1px;
	background-color: #eff2f4;
	color: #f04e3e;
}

#navigation li a:active {
	background-color: #eff2f4;
}

.on {
	background-color: #d64638;
	color: #eff2f4;
	font-size: 150%;
	margin-top: -3px;
	box-shadow: 5px 5px 3px grey
}

/*-----------MAIN CONTENT----------*/
article {
	position: relative;
	top: 295px;
	left: 10px;

}

p {
	margin-bottom: 14px;
	margin-right: 20px;
}

a:link {
	text-decoration: none;
	color: #f04e3e;
}

a:visited {
	color: #000;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: black;
}

.indent {
	margin-left: 240px;

}

.pic {
	height: 200px;
	width: 200px;
	margin: 10px;
	border-radius: 50%;
	float: left;
	overflow: hidden;
}

.pic {
  float: left;
  height: 200px;
  width: 200px;
  margin: 20px;
  overflow: hidden; 
}

/*------------IMAGE GROW---------*/
.andrea img {
  display: inline;
  margin: 10px;
  height: 200px;
  width: 200px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.andrea img:hover {
  width: 240px;
  height: 240px;
}

/*--------PORFOLIO CARDS---------*/


.cards {
	margin: 0 auto;
	width: 100%;
	/*position:absolute;*/
	text-align: center;
}

.card {
	position: relative;
	height: 500px;
	width: 370px;
	margin: 1%;
	padding: 10px;
	background-color: white;
	border-radius: 50px 0 50px 0;
	box-shadow: 5px 5px 5px grey;
	display: inline-block;
	text-align: left;
}

.screenshot {
	position: absolute;
	top: 0px;
	margin-top:10px;
	width: 95%;
	height: 50%;
	background-color: LightGrey;
	border-radius: 50px 0 50px 0;
}

.cards h2 {
	position: absolute;
	top: 55%;
	font-family: 'Quicksand', sans-serif;
	font-size: 150%;
	color: black;
}

.cards p {
	position: absolute;
	top: 60%;
	font-family: 'Scope One', serif;
}

@media screen and (max-width: 1200px) {
	.card {
		width: 400px;
	}
}		

@media screen and (max-width: 890px) {
	.card {
		width: 500px;
	}
}

@media screen and (max-width: 500px) {
	.card {
		width: 340px;
		height: 260px;
		margin: 0 0 10 0;
	}

	.cards p {
		display: none;
	}

	.screenshot {
		height: 80%;
	}

	.cards h2 {
		position: absolute;
		top: 240px;
		text-align: center;
	}
}	